.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart div h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center;
    padding: 35px;
}

.cart-item {
    padding: 35px;
    border-radius: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.cart-image {
    border-radius: 15px;
    width: 150px;
    margin: 20px 0px 20px 30px;
}

#product-price {
    font-size: 20px;
    font-weight: 300;
}

#product-desc {
    font-size: 17px;
    font-weight: 300;
}

#product-size {
    font-size: 20px;
    font-weight: 500;
}

.cart-item p {
    display: block;
    width: 100%;
    padding-left: 30px;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.count-handler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    border-color: 1px solid;
  }

.count-handler button {
    border-color: transparent;
    padding: 5px;
}

.count-handler {
    margin-left: 25px;
}

.check-out {
    display: flex-box;
    align-items: center;
    text-align: center;
}

.check-out p {
    margin: 20px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.check-out button {
    padding: 10px;
    margin: 0px 20px 50px 0px;
    border-radius: 15px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.cont-shopping:hover {
    background-color: #E3F4F4;
}

.checkout:hover {
    background-color: #F4D3D3;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart p{
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    padding-left: 5px;
}

.empty-cart img {
    width: 200px;
}

.cart {
    margin-bottom: 50px;
}

@media (max-width: 768px) and (min-width: 0px){
    #product-desc {
        display: none;
    }

    .cart-image {
        width: 60px;
    }

    #product-name, #product-size {
        font-size: 15px;
    }
}
