.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #E3F4F4;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer .home {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}

.footer .contact-me {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.footer img {
    width: 20px;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) and (min-width: 0px){
    .footer img, .footer .home {
        display: none;
    }
}

@media (max-width: 960px) and (min-width: 768px){
    .footer img{
        display: none;
    }
}